<body>
    <!-- Preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <h3 class="navbar-brand" style="color: black; font-weight: 700;">
                Synergie 14
            </h3>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/connaitre">Nous Connaître</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/impact">Notre Impact</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/soutenir">Nous Aider</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/contact">Nous Contacter</a>
                    </li>
                </ul>

                <!-- Mobile button -->
                <div class="d-lg-none text-center">
                    <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-sm btn-warning">See more details</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-8 bg">
        <div class="container py-5">
            <div class="row row-grid align-items-center">
                <div class="col-lg-6 text-center text-lg-left">
                  <!-- Heading -->
                  <h1 class="mb-4" style="color: black; font-weight: 900;">
                    Synergie 14
                  </h1>
                  <!-- Text -->
                  <p class="lead text-dark opacity-8">
                    Centre d’accueil,  d’hébergement et d’accompagnement de Mineurs Etrangers Non Accompagnés (MENA)
                  </p>
                  <!-- Buttons -->
                  <div class="mt-5">
                      <a href="#" class="btn btn-warning btn-lg btn-icon">
                          <span class="btn-inner--icon">
                              <i data-feather="edit-3"></i>
                          </span>
                          <span class="btn-inner--text">Contactez Nous</span>
                      </a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="imghome" style="position: absolute; top: -23em; left: -14em; z-index: 10;">
                    <%= image_tag("back3.png", :alt => "rss feed") %>
                  </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
       <!--  <div class="shape-container shape-line shape-position-bottom">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div> -->
    </section>
    <section class="slice slice-lg">
      <div class="container">
        <h4 class="text-center" style="padding-bottom: 2em;">
          L'asbl Synergie 14 est née de l'initiative de plusieurs réfugiés politiques, hommes et femmes, auxquels se sont ajoutés d'autres personnes d'horizons divers, interessées par la problématique de l'exil.
        </h4>
        <div class="row mt-4">
          <div class="col-lg-6 pr-lg">
            <p class="mb-3" style="margin-bottom: none !important">
              <%= image_tag("hope.png", :alt => "rss feed", :style => "width: 100%" ) %>
            </p>
          </div>
          <div class="col-lg-6 slice" style="background-color: #B33951; color: white;">
            <h3 class="col-lg" style="color: black;">Synergie 14</h1>
            <p class="lead lh-180 col-lg" >
              Synergie: “Mise en commun de moyens qui se renforcent entre eux pour aboutir à un même but.”
            </p>
            <p class="lead lh-180 col-lg" >
              Article. 14 de la Déclaration universelle des droits de l’homme (1948):
              “Devant la persécution, toute personne a le droit de chercher asile et de béneficier de l’asile en d’autres pays.”
            </p>
            <div id="myBtn" class="col-lg" style="margin-top: 2em"><%= link_to 'C est par ici! >', root_path %></div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="slice slice-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-6">
                    <img src="assets/img/theme/light/img-v-4.jpg" alt="Image" class="rounded-lg img-fluid" />
                    <div class="text-right mt-4">
                        <img src="assets/img/theme/light/img-1-1000x1000.jpg" alt="Image" class="rounded-lg img-fluid w-50" />
                    </div>
                </div>
                <div class="col-lg-7 col-6">
                    <img src="assets/img/theme/light/img-1-1000x800.jpg" alt="Image" class="rounded-lg img-fluid w-75" />
                    <div class="text-right mt-4">
                        <img src="assets/img/theme/light/img-2-1000x800.jpg" alt="Image" class="rounded-lg img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="slice slice-lg pt bg-primary">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-6 slice" style="color: white;">
                  <h3 class="col-lg" style="color: black;">Nos Missions:</h1>
                  <p class="lead lh-180 col-lg" >
                    Une Mission d’aide générale avec FEDASIL: Aide matérielle sans mandat : 10 places (Filles et garçons âgés de 12 à 18 ans)
                  </p>
                  <p class="lead lh-180 col-lg" >
                    Une Mission d’aide spécifique avec la Fédération Wallonie-Bruxelles : Projet Educatif Particulier (PEP) : 4 places (Filles et garçons âgés de 12 à 18 ans)
                  </p>
                  <div id="myBtn" class="col-lg" style="margin-top: 2em"><%= link_to 'C est par ici! >', root_path %></div>

                </div>
                <div class="col-lg-6 pr-lg">
                    <p class="mb-3" style="margin-bottom: none !important">
                      <%= image_tag("groupejeunes.png", :alt => "rss feed", :style => "width: 100%" ) %>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="slice slice-lg">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-6 pr-lg">
                    <p class="mb-3" style="margin-bottom: none !important">
                      <%= image_tag("jeunes3.png", :alt => "rss feed", :style => "width: 100%" ) %>

                    </p>
                </div>
                <div class="col-lg-6 slice" style="background-color: #B33951; color: white;">
                  <h3 class="col-lg" style="color: black;">Nos Axes d’Intervention:</h1>
                  <p class="lead lh-180 col-lg" >
                    L’axe d’intervention en Europe: projet Relais.
                    Nous intervenons sur toutes les lignes du parcours, du primo-arrivant, au jeune en rupture qui ne parvient pas à s’accrocher au dispositif d’accueil global pour de multiples raisons...
                  </p>
                  <p class="lead lh-180 col-lg" >
                    L’axe d’intervention en Afrique: écoles des devoirs.
                    Projet de mise en place d’écoles des devoirs qui visent à donner les mêmes chances de réussite aux enfants issus de familles déshéritées. L’objectif est de réduire le déterminisme social.
                  </p>
                  <div id="myBtn" class="col-lg" style="margin-top: 2em"><%= link_to 'C est par ici! >', root_path %></div>

                </div>
            </div>
        </div>
    </section>

    <section class="slice slice-lg pt bg-primary text-center">
        <!-- SVG separator -->
        <!-- Container -->
        <div class="container">
          <div class="row row-grid">
            <div class="col-lg">
              <!-- Title -->
              <h2 class="my-4 text" style="color: black">Informations Importantes</h2>
              <!-- Text -->
              <p class="lead text-white lh-190">
                Besoin d’information importantes relatives aux activités de l’ASBL ou d’autres documentations?
              </p>
              <!-- Badge -->

              <span>
                <div id="myBtn" style="margin-top: 2em"><%= link_to 'C est par ici! >', root_path %></div>

              </span>
            </div>
          </div>
        </div>
    </section>

    <section class="slice slice-lg">
      <div class="container">
        <h1 class="text-center" style="margin-bottom: 3em; color: black;">Ce que nous faisons</h1>
        <div class="flex">
          <div class="hexa gon" style="background-color: #F6511D;"> <strong>Nos Activités: </strong> <br> Apprenez en plus sur les loisirs et ateliers proposés au sein de l’ASBL… </div>
          <div class="hexa gon" style="background-color: #FFB400;">Nous Connaître <br> Apprenez à connaître le personnel et le conseil d’administration. </div>
          <div class="hexa gon" style="background-color: #B33951;">Nous Aider <br> Apportez de l’aide aux jeunes et à l’équipe éducative et sociale. </div>
        </div>
      </div>
    </section>

    <section class="slice slice-lg">
      <div class="container">
        <h1 class="text-center" style="margin-bottom: 3em; color: black">Gallerie Photo</h1>
        <!-- Gallery -->
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />

            <img
              src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
          </div>
        </div>
        <!-- Gallery -->
      </div>
    </section>
    <footer class="position-relative" id="footer-main" style="background-color: #B33951;">
        <div class="footer pt-lg-7 footer-dark bg"  style="background-color: #B33951;">
            <!-- SVG shape -->

            <!-- Footer -->
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->
                        <h3 class="navbar-brand" style="color: black; font-weight: 700;">
                          Synergie 14
                        </h3>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">L'asbl Synergie 14 est née de l'initiative de plusieurs réfugiés politiques, hommes et femmes, auxquels se sont ajoutés d'autres personnes d'horizons divers, interessées par la problématique de l'exil.</p>
                        <!-- Social -->
                        <ul class="nav mt-4">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="https://dribbble.com/webpixels" target="_blank">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/webpixels" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/webpxs" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/webpixels" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Account</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Notifications</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">About</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Company</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 <a href="https://webpixels.io" class="font-weight-bold" target="_blank">Webpixels</a>. All rights reserved
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Terms
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Privacy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Cookies
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
